html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */

.container {
	margin: 26px auto;
	width:  876px;
}


.navigation a{
	border-radius: 2px;
	color: grey;
	font-size: 15px;
	padding: 5px 8px;
	text-decoration: none;
}

.navigation a:hover {
	background-color: green;
	color: white;
}

.navigation{
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.navigation img {
	
	display: inline-block;
	margin-left: 170px;
	padding:11px;
	vertical-align: middle;
}

.main-header section {
	width: 490px;
	height: 372px;
	margin-top: 120px;
	margin-bottom: 50px;
	text-align:center;
	vertical-align:top;
	display: inline-block;
}

.main-header section h2 {
	font-size: 80px;
}

.main-header section button{
	border: 1px solid green;
	border-radius: 5px;
	color: black;
	padding: 5px 40px;
	text-decoration: none;
	}

.main-header section button:hover {
	background-color: green;
	color: white;
}

.main-header img {
	margin-top: 70px;
}

main {
	
	border-top: 1px solid black;
	margin-bottom: 40px;
	padding: 40px 0 40px;
	border-bottom: 1px solid black;
}

main img {
	margin: 50px 0 50px
}


.content {
	display: flex;
	justify-content: space-between;
	align-content: center;
    width: 870px;
    
}

.content:first-child section {
	width: 430px;
}

.content section:first-child {
	margin: 0;
}

.content section p {
	line-height: 1.25em;
}

footer p{
	font-size: 13px;
	margin: 55px 0 120px;
	text-align: center;
}

/* services */


 .nav{
	display: flex;
	justify-content: space-between;
	align-items:center;
	font-size: 15px;
	margin-top: 20px;
}
.navigationservices a{
	border-radius: 4px;
	color: grey;
	font-size: 15px;
	padding: 5px 8px;
	margin-right: 25px;
	text-decoration: none;
}



.services{
	
	padding: 40px 0 40px;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
    flex-flow: row wrap;
    
}

.services section{ 

	width: 418px;
	border: solid 1px green;
	padding: 20px;
	margin-bottom: 40px;
	background-color: lightgrey;

}

.services-header-img{
	margin: 30px 0 30px;
}

.container2{
	width:876px;
	margin: 0 auto;
}

.services-facts{
	display:flex;
	justify-content: space-between;
  
}

.services-facts section{
	padding-right: 20px;
	
}

.services-facts section p{
	margin-bottom: 20px;
}

ul {
	list-style-type: square;
	margin-left: 20px;
	line-height: 1.5em;

}

footer{
	margin: 50px 0 100px;
	text-align: center;
}

.topservices{
	margin-bottom: 40px;
}

.services section a{
	 display: inline-block;
	 border: solid 1px black;
	 padding: 8px 35px;
	 margin-top: 20px;
	 border-radius: 5px;
	 text-decoration: none;
     color:inherit;
     
   
}


@media (max-width: 800px) {


.content {
	display: flex;
	justify-content: space-between;
	align-content: center;
    width: 10px;
    margin-left: auto;
    margin-right: auto;
    
}

    
    
    .navigation a:hover {
        background-color: green;
        color: white;
    }
    
    .navigation{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .content {
        display: flex;
        justify-content: space-between;
        align-content: center;
        width: 670px;
    }
    

    .contacto{
       margin-left: 100px;
       margin-top: 20px;
        width: 200px;
    
    }

   .middle-img{
      width: 650px;
      margin-left: 100px;
    
   }
  
  .navigation{
     
     font-size: 10px;
     margin-left:120px;
     border-radius: 10px;
        color: grey;
        font-size: 12px;
        padding: 18px 15px;
        text-decoration: none;
        width: 600px;

  }

  .main-header{
      margin-left: 190px;
      margin-bottom: 4px;
      margin-top: 4px;
      width: 440px;
     
      

      
      
  }


